body {
    background: url("../assets/desk.png") no-repeat center fixed;
    background-size: cover;  
  }
  
.navbar-brand {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.nav-link {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

/* header rules */

.boxed {
    background-color: rgb(255, 255, 255);
    padding: 35px;
}

h1 {
    font-size: 75px;
    font-weight: 500;
    color: rgb(80, 80, 80);
    text-align: center;
    font-family: 'Oswald', sans-serif;   
}

h5 {
    font-size: 24px;
    /* text-align: center; */
    font-family: 'Oswald', sans-serif;   
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    text-align: left;
}

img {
    max-height: 600px;
}

/* font rules */

.lead {
    font-size: 15px;
    text-align: center;
}

/* mouseover section */

a:link {
    color: rgb(69, 70, 70);
}

a:visited {
    color: rgb(122, 123, 124);
}

a:hover {
    color: rgb(135, 166, 233);
}

a:active {
    color: rgb(233, 169, 230);
}

/* container positioning */

.container {
    text-align: center; 
}

@media screen and (max-width: 825px) {
    
    h1 {
        font-size: 55px;
        font-weight: 500;
        color: rgb(80, 80, 80);
        text-align: center;
        font-family: 'Oswald', sans-serif;   
    }

    p {
        font-size: 16px;
        text-align: left;
        font-family: 'Montserrat', sans-serif;

    }
    
    }
